#ask-revoke-admin-modal {
  width: 500px;
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  position: relative;
  padding: 50px;
  margin: 160px auto;
  text-align: center;
  ul {
    padding: 0;
    list-style: none;
    li {
      padding: 10px;
      text-align: center;
    }
  }
  .actions {
    padding-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}