.va-table {
  height: 100%;
  .infinite-contentInner {
    height: 100%;
  }
  input {
    background: transparent;
    box-shadow: none;
    border: 1px solid #3F196E;
    color: white;
    padding: 5px;
    border-radius: 7px;
    font-size: 14px;
  }
  ul {
    list-style: none;
  }
  .infinite-body {
    padding-left: 80px;
    padding-right: 30px;
  }
  #infinite-no-result {
    width: 100%;
    height: 200px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .c-col-1 {
    flex: 0 0 15%;
    width: 15%;
  }
  .c-col-2 {
    flex: 0 0 25%;
    width: 25%;
  }
  .c-col-3 {
    flex: 0 0 11%;
    width: 11%;
  }
  .c-col-4 {
    flex: 0 0 12%;
    width: 12%;
  }
  .c-col-5 {
    flex: 0 0 12%;
    width: 12%;
  } 
  .c-col-6 {
    flex: 0 0 12%;
    width: 12%;
  }
  .c-col-7 {
    flex: 0 0 12%;
    width: 12%;
  }
}