#app-single-proposal-vote-section {
  #app-spd-formal-process-wrap {
    margin-bottom: 20px;
    display: block;
    
    > div {
      display: flex;
      max-width: 1170px;

      @media all and (max-width: 767px) {
        width: 100%;
        flex-direction: column;
      }

      > article {
        margin-right: 2rem;
        padding: 10px 20px;
        @media all and (max-width: 767px) {
          margin-right: 0;
          margin-bottom: 1rem;
        }
  
        div {
          display: flex;
          align-items: flex-end;
          margin-top: 10px;
  
          span {
            display: block;
            color: #C7A3FF;
            font-size: 30px;
            line-height: 1;
            width: 40px;
          }
  
          label {
            color: #C7A3FF;
            font-size: 12px;
            margin-right: 5px;
          }
        }
      }

      > div {
        padding: 10px 20px;
        flex: 1;
        display: flex;
        flex-direction: column;

        .vote-result-row {
          margin-top: 5px;
          width: 100%;
          height: 18px;
          display: flex;
          align-items: center;

          span {  
            max-width: calc(100% - 38px);
            display: block;
            height: 100%;
            border-radius: 5px;
            margin-right: 8px;
          }

          label {
            font-size: 9px;
            width: 30px;
          }
        }
      }
    }

    form {
      margin-top: 1rem;
      background: #2C0E52;
      border: 1px solid #7A48B9;
      border-radius: 10px;
      padding: 30px 20px;

      #app-spd-formal-process-header {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        > svg {
          margin-left: 30px;
        }
      }

      #app-spd-formal-process-body {
        padding-left: 40px;

        .spacer {
          display: block;
          width: 100%;
          height: 1px;
          background: #3F196E;
        }

        input[type="text"], input[type="number"] {
          display: block;
          margin-top: 30px;
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 700;
          background: #E1CCFF;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 11px;
          border: none;
          width: 400px;
          max-width: 100%;
          height: 45px;
          padding: 12px;
        }

        #c-buttons-wrap {
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          
          > button:first-child {
            margin-right: 20px;
          }
          @media all and (max-width: 767px) {
            > button {
              font-size: 12px;
              padding-left: 2rem;
              padding-right: 2rem;
            }
          }
        }
      }
    }
  }

  #app-spd-informal-done-wrap,
  #app-spd-formal-done-wrap {
    margin-bottom: 20px;
    display: block;
    
    > div {
      display: flex;
      max-width: 1170px;

      > div {
        padding: 10px 20px;
        flex: 1;
        display: flex;
        flex-direction: column;

        .vote-result-row {
          margin-top: 5px;
          width: 100%;
          height: 18px;
          display: flex;
          align-items: center;

          span {  
            max-width: calc(100% - 38px);
            display: block;
            height: 100%;
            border-radius: 5px;
            margin-right: 8px;
          }

          label {
            font-size: 9px;
            width: 30px;
          }
        }
      }
    }
  }

  #app-spd-informal-process-wrap {
    margin-bottom: 20px;
    display: block;
    
    > div {
      display: flex;
      max-width: 1170px;

      @media all and (max-width: 767px) {
        width: 100%;
        flex-direction: column;
      }

      > article {
        margin-right: 2rem;
        padding: 10px 20px;

        @media all and (max-width: 767px) {
          margin-right: 0;
          margin-bottom: 1rem;
        }
  
        div {
          display: flex;
          align-items: flex-end;
          margin-top: 10px;
  
          span {
            display: block;
            color: #C7A3FF;
            font-size: 30px;
            line-height: 1;
            width: 40px;
          }
  
          label {
            color: #C7A3FF;
            font-size: 12px;
            margin-right: 5px;
          }
        }
      }
    }

    form {
      margin-top: 1rem;
      background: #2C0E52;
      border: 1px solid #7A48B9;
      border-radius: 10px;
      padding: 30px 20px;

      #app-spd-informal-process-header {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        > svg {
          margin-left: 30px;
        }
      }

      #app-spd-informal-process-body {
        padding-left: 40px;

        .spacer {
          display: block;
          width: 100%;
          height: 1px;
          background: #3F196E;
        }

        input[type="text"], input[type="number"] {
          display: block;
          margin-top: 30px;
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 700;
          background: #E1CCFF;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 11px;
          border: none;
          width: 400px;
          max-width: 100%;
          height: 45px;
          padding: 12px;
        }

        #c-buttons-wrap {
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          > button:first-child {
            margin-right: 20px;
          }
          @media all and (max-width: 767px) {
            > button {
              font-size: 12px;
              padding-left: 2rem;
              padding-right: 2rem;
            }
          }
        }
      }
    }
  }

  #app-spd-informal-start-wrap {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    > div {
      flex: 1;

      p {
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
  }
  @media all and (max-width: 767px) {
    .btn-telegram {
      margin-right: 0 !important;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
  
}