.teams-table {
  .infinite-header {
    padding-left: 80px;
    padding-right: 30px;
    .infinite-headerInner {
      display: flex;
    }
  }
  ul {
    list-style: none;
  }
  height: 400px;
  .infinite-body {
    padding-left: 80px;
    padding-right: 30px;
  }
  .infinite-contentInner {
    min-width: 1700px;
  }
  
  #infinite-no-result {
    width: 100%;
    height: 200px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .c-col-1 {
    flex: 0 0 5%;
    width: 5%;
  }
  .c-col-2 {
    flex: 0 0 5%;
    width: 5%;
  }
  .c-col-3 {
    flex: 0 0 5%;
    width: 5%;
  }
  .c-col-4 {
    flex: 0 0 13%;
    width: 13%;
  }
  .c-col-5 {
    flex: 0 0 8%;
    width: 8%;
  }
  .c-col-6 {
    flex: 0 0 8%;
    width: 8%;
  }
  .c-col-7,
  .c-col-8,
  .c-col-9,
  .c-col-10,
  .c-col-11,
  .c-col-12,
  .c-col-13,
  .c-col-14 {
    flex: 0 0 calc(49% / 8);
    width: calc(49% / 8);
  }
  .c-col-15 {
    flex: 0 0 7%;
    width: 7%;
  }
}