#app-messages-page {
    .message-folders {
        display: flex;
        overflow: hidden;
        border-radius: 4px;
    }

    .message-folder {
        border: 0;
        border-radius: 0;
        padding: 0.5rem 1rem;
        background-color: rgba(#7137ce, 0.4);
        color: white;
        flex: 1;

        &.active {
            background-color: rgba(#7137ce, 0.8);
        }
    }
}