.fd-label {
  display: block;
  font-size: 1em;
  margin-bottom: 0.25rem;
}

.fd-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fd-input {
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
