@import "~easymde/dist/easymde.min.css";

.discourse {
  &.fd-overflow {
    overflow: auto;
  }
  
  .write-post {
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(#722ed1, 0.4);
  }

  .posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .post-footer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .post-btn {
    border: 0;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: 500;
    border-radius: 4px;
  }

  .post-btn:disabled {
    background-color: rgba(#fff, 0.5);
    pointer-events: none;
    user-select: none;
  }

  .error-text {
    background-color: rgb(160, 6, 6);
    padding: 0.25rem 1rem;
    border-radius: 1rem;
  }

  // Single post
  .post-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    scroll-margin-top: 1rem;

    &:not(:first-child) {
      padding-top: 1rem;
      border-top: 2px solid rgba(#722ed1, 0.2);
    }
  }

  .post-container {
    display: flex;
    flex-direction: column;
  }

  .post-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .post-header-start {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 11pt;
  }

  .total-flag-count {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border: 2px solid rgba(#722ed1, 0.2);
    background-color: rgba(#722ed1, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #a773ef;

    > svg {
      width: 1.2rem;
    }
  }

  .flag-content {
    border: 2px solid rgba(#722ed1, 0.2);
    background-color: rgba(#722ed1, 0.1);
    border-radius: 4px;
    padding: 3rem 1rem 1rem 1rem;
    position: relative;
  }

  .flag-wrapper {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    position: absolute;
    left: 0rem;
    top: 0;
    font-size: 10pt;
    font-weight: 600;
    text-transform: uppercase;
    color: #a773ef;
    padding: 0.25rem 0.5rem;
    background-color: #411679;
    border-bottom-right-radius: 0.25rem;

    > svg {
      width: 1.2rem;
    }
  }

  .post-loading {
    position: relative;
    user-select: none;
    pointer-events: none;
  }

  .post-loading::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -0.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
  }

  .post-container::after {
    content: "";
    position: absolute;
    transition: background-color 200ms ease-in-out;
  }

  .post-highlight {
    position: relative;
  }

  .post-highlight::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -0.5rem;
    border-radius: 1rem;
    background-color: rgba(#fff, 0.2);
  }

  .post-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .post-meta {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
  }

  .post-author {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .user-reputation {
    min-width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10pt;
    color: #722ed1;
    font-weight: bold;
    background-color: white;
    border-radius: 1rem;
    padding: 4px;
  }

  .post-writer {
    font-weight: 500;
    line-height: 1;
  }

  .post-date {
    color: #722ed1;
    line-height: 1;
  }

  .post-actions {
    flex: 1;
    display: flex;
    gap: 0.25rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
  }

  .post-action {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 11pt;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #fff;
    background-color: rgba(#722ed1, 0.2);
    border-radius: 3rem;
    padding: 0.25rem 1rem;
    transition: background-color 300ms, transform 300ms, opacity 300ms;
  }

  .post-action:disabled {
    opacity: 0.6;
    pointer-events: none;
    user-select: none;
  }

  .post-action.display-on-hover {
    opacity: 0;
    visibility: hidden;
  }

  .post-container:hover .post-action.display-on-hover {
    visibility: visible;
    opacity: 1;
  }

  .post-action.load-more {
    width: 100%;
    padding: 0.75rem 2rem;
    text-align: center;
    justify-content: center;
  }

  .action-confirm {
    transform: scale(1.05);
  }

  .post-action:hover {
    background-color: rgba(#722ed1, 0.5);
  }

  .post-action.active {
    visibility: visible;
    opacity: 1;
    background-color: rgba(#722ed1, 0.8);
  }

  .post-action svg {
    width: 1.2rem;
    height: 1.2rem;
  }

  .post-action-value {
    font-weight: 500;
    line-height: 0.8;
    font-size: 11pt;
  }

  .post-content {
    margin-top: 1rem;

    .post-text {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      ol {
        padding-left: 1.2rem;
      }

      aside.onebox {
        display: flex;
        flex-direction: column;
        border: 3px solid #4c3865;
        padding: 1rem;

        header.source {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          width: auto;
          height: auto;
        }

        article.onebox-body {
          display: flex;
          gap: 0.5rem;
          margin-top: 0.5rem;
          flex-direction: column;

          > h3 {
            font-size: 1.25rem;

            > a {
              color: #864adb;
              font-weight: 600;
            }
          }
        }
      }

      .emoji {
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }

      .site-icon {
        width: 16px;
        height: 16px;
      }
    }
  }

  .post-updated {
    display: flex;
    gap: 0.25rem;
    margin-top: 0.25rem;
    font-size: 10pt;
    color: gray;
  }

  .post-replies {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1.2rem;
    border-left: 2px solid rgba(#722ed1, 0.2);
    padding-left: 1rem;
  }

  .fd-page-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .fd-codemirror .EasyMDEContainer {
    .editor-toolbar {
      border: 0;
      background-color: rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      > button {
        color: #fff;
        transition: background-color 200ms ease-in-out;

        &.active,
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          border: 0;
        }
      }
    }

    .editor-preview {
      background-color: #4c3865;
    }

    // Write post
    .CodeMirror {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      border: none;
      outline: none;
      resize: none;
      font-family: "Roboto", sans-serif;
      color: #fff;
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: none;
      padding: 1rem;

      &::placeholder {
        color: #fff;
      }
    }
  }

  .fd-topic-container {
    display: flex;
    align-items: start;
    gap: 1rem;
  }

  .fd-topic-posts {
    flex: 1;
  }

  .fd-topic-reads {
    width: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: sticky;
    top: 0.5rem;
  }

  .topic-reads-chart {
    padding: 2rem;
  }
}
