#app-pending-proposals-section {
  margin-bottom: 0;
  height: 100%;
  
  .infinite-content {
    height: 100%;
    min-height: 500px;
  }

  .infinite-contentInner {
    min-width: 1000px;
  }
  
  .c-col-0 {
    flex: 0 0 6%;
    width: 6%;
  }
  .c-col-1 {
    flex: 0 0 36%;
    width: 36%;
  }
  .c-col-2 {
    flex: 0 0 12%;
    width: 12%;
  }
  .c-col-3 {
    flex: 0 0 12%;
    width: 12%;
  }
  .c-col-4 {
    flex: 0 0 16%;
    width: 16%;
  }
  .c-col-5 {
    flex: 0 0 18%;
    width: 18%;
  }

  .infinite-body {
    .global-relative-canvas {
      height: 100px !important;
    }

    #infinite-no-result {
      width: 100%;
      height: 100px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        cursor: pointer;
        padding: 0 30px 0 80px;
        
        * {
          cursor: pointer;
        }

        .infinite-row {
          display: flex;
          padding-top: 10px;
          padding-bottom: 10px;

          .c-col-1 {
            padding-right: 20px !important;
            label {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 580px;
            }
            p {
              max-width: 580px;
            }
          }

          .c-action-buttons {
            display: flex;
            align-items: center;

            .btn:first-child {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}