#app-active-proposals-section {
  overflow: unset;
  .infinite-content {
    height: 450px;
    min-height: 450px;
  }

  .c-col-0 {
    flex: 0 0 6%;
    width: 6%;
  }
  .c-col-1 {
    flex: 0 0 28%;
    width: 28%;
  }
  .c-col-2 {
    flex: 0 0 14%;
    width: 14%;
  }
  .c-col-3 {
    flex: 0 0 12%;
    width: 12%;
  }
  .c-col-4 {
    flex: 0 0 12%;
    width: 12%;
  } 
  .c-col-5 {
    flex: 0 0 12%;
    width: 12%;
  }
  .c-col-6 {
    flex: 0 0 16%;
    width: 16%;
  }

  .c-image-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > div {
      width: 30px;
      text-align: center;
    }
  }

  .infinite-contentInner {
    min-width: 1100px;
  }

  .infinite-body {
    .global-relative-canvas {
      height: 200px !important;
    }

    #infinite-no-result {
      width: 100%;
      height: 200px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        cursor: pointer;
        padding: 0 30px 0 80px;
        
        * {
          cursor: pointer;
        }

        .infinite-row {
          display: flex;
          padding-top: 10px;
          padding-bottom: 10px;

          .c-col-1 {
            padding-right: 20px;
            label {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 580px;
            }
            p {
              max-width: 580px;
            }
          }
        }
      }
    }
  }
}