#verify-info-wrap {
  .custom-form-control {
    &.underlined {
      color: black;
      border-bottom: 1px solid black;
    }
  }

  .custom-form-control.underlined::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.6);
  }
  .custom-form-control.underlined:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.6);
  }
  .custom-form-control.underlined::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 0, 0, 0.6);
  }

  .custom-form-control {
    margin-bottom: 30px;
  }

  .dob-picker-wrap {
    .react-date-picker__inputGroup * {
      color: black !important;
    }
  }

  #verify-info-wrap__buttons {
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -5px;
    display: flex;

    .btn {
      flex: 0 0 calc(50% - 10px) !important;
      width: calc(50% - 10px) !important;
      margin: 0 5px !important;
    }
  }

  #temp-link-wrap {
    margin-top: 2rem;

    .temp-link {
      text-align: center;
      margin-bottom: 0.3rem;
      a {
        text-decoration: underline !important;
        cursor: pointer;
      }
    }
  }

  @media all and (max-width: 767px) {
    #verify-info-wrap__buttons {
      display: block;
      margin-left: 0;
      margin-right: 0;

      .btn {
        flex: auto;
        width: 100% !important;
        display: block !important;
        margin: 0 0 20px 0 !important;
      }
    }
  }
}