.bid-ranks-user-table {
  ul {
    list-style: none;
  }
  .infinite-body {
    padding-left: 80px;
    padding-right: 30px;
  }
  #infinite-no-result {
    width: 100%;
    height: 70px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .c-col-1 {
    flex: 0 0 20%;
    width: 20%;
  }
  .c-col-2 {
    flex: 0 0 20%;
    width: 20%;
  }
  .c-col-3 {
    flex: 0 0 20%;
    width: 20%;
  }
  .c-col-4 {
    flex: 0 0 20%;
    width: 20%;
  }
  .c-col-5 {
    flex: 0 0 20%;
    width: 20%;
  } 
}