#start-checksystem-modal {
  width: 762px;
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  position: relative;
  padding: 50px;
  margin: 160px auto;
  button {
    &:disabled {
      background: #c7c7c7;
      color: white;
      border: 2px solid #c7c7c7;
      cursor: not-allowed;
    }
  }

  #paa-box {
    margin-top: 50px;
    height: 400px;
    overflow: scroll;
    padding: 20px;
    background: #f6f6f6;
    p {
      padding: 10px 0;
    }
    h5 {
      padding-top: 20px;
    }
  }
  .paa-checkboxes {
    margin: 20px 0;
  }

  #start-checksystem-modal__buttons {
    margin-left: -5px;
    margin-right: -5px;
    display: flex;

    button {
      flex: 0 0 calc(50% - 10px) !important;
      width: calc(50% - 10px) !important;
      margin: 0 5px !important;
    }
  }

  @media all and (max-width: 767px) {
    margin: 100px auto;
    padding: 30px 15px;

    h2 {
      margin-top: 50px;
    }

    #start-checksystem-modal__buttons {
      display: block;
      margin-left: 0;
      margin-right: 0;

      button {
        flex: auto;
        width: 100% !important;
        display: block !important;
        margin: 0 0 20px 0 !important;
      }
    }
  }
}