#app-kyc-box {
  padding: 18px 20px;
  background: rgb(50, 19, 91);
  max-width: 1025px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
  img {
    margin-right: 30px;
  }

  > div {
    margin-right: auto;
    padding-right: 80px;
    flex: 1;
  }

  > label {
    color: #9B64E6;
    font-weight: 700;
    text-decoration: underline;
  }

  @media all and (max-width: 767px) {
    flex-direction: column;

    img {
      margin-right: 0;
    }

    > div {
      margin: 20px auto;
      text-align: center;
    }

    .btn {
      width: 100%;
    }
  }
}

#app-proposal-tracking-section {
  margin-bottom: 10px;
  max-height: 400px;
  .c-col-0 {
    flex: 0 0 10%;
    width: 10%;
  }
  .c-col-1 {
    flex: 0 0 15%;
    width: 15%;
  }
  .c-col-2 {
    flex: 0 0 30%;
    width: 30%;
  }
  .c-col-3 {
    flex: 0 0 11%;
    width: 11%;
  }
  .c-col-4 {
    flex: 0 0 14%;
    width: 14%;
  }
  .c-col-5 {
    flex: 0 0 20%;
    width: 20%;
  }

  .infinite-contentInner {
    min-width: 1000px;
  }

  .infinite-body {
    #infinite-no-result {
      width: 100%;
      padding-top: 30px;
      display: flex;
      justify-content: center;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        cursor: pointer;
        padding: 0 30px 0 80px;
        
        * {
          cursor: pointer;
        }

        .infinite-row {
          display: flex;
          padding-top: 10px;
          padding-bottom: 10px;

          .c-col-2 {
            padding-right: 20px;
            label {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}