#app-new-advance-payment-request-page {
  .c-form-row {
    margin-bottom: 20px;
    label {
      margin-bottom: 10px;
      display: block;
    }
    select {
      background: #1F063E;
      border: 1px solid #270A4B;
      border-radius: 10px;
      display: block;
      width: 100%;
      color: white;
      padding: 12px 10px;
      max-width: 300px;
    }
    textarea {
      display: block;
      width: 100%;
      height: 150px;
      background: #1F063E;
      border: 1px solid #270A4B;
      border-radius: 10px;
      color: white;
      padding: 12px 10px;
      resize: none;
    }
    select { 
      appearance: none;
      -webkit-appearance: none
    }
    .c-checkbox-itemSymbol {
      margin: -4px 10px 0 0;
    }
  }

  #c-dropzone {
    width: 100%;
    height: 300px;
    background: #1F063E 0% 0% no-repeat padding-box;
    border: 6px dashed #9B64E6;
    border-radius: 10px;
    cursor: pointer;

    > div {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  #files-wrap {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    
    > label {
      margin-right: 10px;
    }

    ul {
      list-style: none;

      li {
        display: flex;
        align-items: center;

        p {
          width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 10px;
        }

        svg {
          cursor: pointer;
        }
      }
    }
  }
  .submit-btn-wrap {
    text-align: center;
  }
}
