.color-black {
  color: #000000 !important;
}
.color-dark {
  color: #191919 !important;
}
.color-primary {
  color: #9B64E6 !important;
}
.color-danger {
  color: #EA5454 !important;
}
.color-success {
  color: #33C333 !important;
}
.color-info {
  color: #17a2b8 !important;
}