#app-topics-section {
  height: 650px;
  min-height: 650px;

  .c-col-0 {
    width: 6%;
    flex: 0 0 6%;
  }
  .c-col-1 {
    width: 40%;
    flex: 0 0 40%;
  }
  .c-col-2 {
    width: 15%;
    flex: 0 0 15%;
  }
  .c-col-3 {
    width: 12%;
    flex: 0 0 12%;
  }
  .c-col-4 {
    width: 12%;
    flex: 0 0 12%;
  }
  .c-col-5 {
    width: 15%;
    flex: 0 0 15%;
  }

  .infinite-contentInner {
    min-width: 1000px;
  }

  .infinite-body {
    #infinite-no-result {
      width: 100%;
      height: 250px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        cursor: pointer;
        padding: 0 30px 0 80px;

        * {
          cursor: pointer;
        }

        .infinite-row {
          display: flex;
          padding-top: 10px;
          padding-bottom: 10px;

          .c-col-1 {
            padding-right: 20px;
            label {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 580px;
            }
            p {
              max-width: 580px;
            }
          }
        }
      }
    }
  }

  .topic-clock-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > svg {
      margin-right: 5px;
    }
  }

  .topic-image-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > div {
      width: 30px;
      text-align: center;
    }
  }
}
