.proposal-final-form {
  .btn-submit {
    height: auto;
    padding: 0;
  }
  flex: 1;
  min-height: fit-content;
  position: relative;
  display: flex;
  margin-right: -50px;
  
  form {
    width: 100%;
  }

  .app-page-headerModern {
    border-bottom: 1px solid rgba(114, 46, 209, 0.5);
    margin-top: 80px;
    margin-bottom: 50px;
    .app-page-headerModern__inner {
      display: flex;
      align-items: center;
      padding-bottom: 27px;

      > label {
        margin-right: 1rem;
      }
      .app-page-headerIcon {
        margin-left: auto;
        margin-right: 0;
      }
    }
    .c-checkbox-item {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      .c-checkbox-itemSymbol {
        width: 40px;
      }
      > label {
        cursor: pointer;
      }
    }
  }

  .app-page-header {
    border-bottom: 1px solid rgba(114, 46, 209, 0.5);
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
    padding-bottom: 27px;

    > label {
      margin-right: 1rem;
    }
    .app-page-headerIcon {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .new-proposal-button-wrap {
    margin-top: 50px;
    .btn {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }

  .c-form-row-deadline {
    margin-bottom: 20px;
    label {
      margin-bottom: 10px;
      display: block;
    }
    .dob-picker-wrap {
      width: 100%;
      height: 50px;
      background: #1F063E;
      border: 1px solid #270A4B;
      border-radius: 10px;
      display: block;
      width: 100%;
      color: white;
      padding: 0 5px;
      .dob-picker {
        width: 100%;
        height: 100%;
        .react-date-picker__inputGroup {
          input[type="date"] {
            width: 100%;
            height: 100%;
          }
          .react-date-picker__inputGroup__divider {
            margin: 0 5px;
          }
        }
      }
    }
  }

  .c-form-row {
    margin-bottom: 20px;
    label {
      margin-bottom: 10px;
      display: block;
    }
    input[type="text"], input[type="number"], select {
      background: #1F063E;
      border: 1px solid #270A4B;
      border-radius: 10px;
      display: block;
      width: 100%;
      color: white;
      padding: 12px 10px;
    }
    select {
      height: 50px;
      appearance: none;
      -webkit-appearance: none;
    } 
    textarea {
      display: block;
      width: 100%;
      height: 150px;
      background: #1F063E;
      border: 1px solid #270A4B;
      border-radius: 10px;
      color: white;
      padding: 12px 10px;
      resize: none;
    }
  }

  .c-simple-checkbox-item-group {
    display: flex;
    align-items: center;

    .c-simple-checkbox-item {
      display: flex;
      align-items: center;

      label {
        margin: 0 !important;
      }

      .c-simple-checkbox-itemSymbol {
        width: 40px;
        cursor: pointer;
      }

      &:first-child {
        label {
          margin: 0 150px 0 0 !important;
        }
      }

      &:last-child {
        flex: 1;
        label {
          margin: 0 30px 0 0 !important;
        }
        input {
          max-width: 300px;
        }
      }
    }
  }

  #c-dropzone {
    width: 100%;
    height: 120px;
    background: #1F063E 0% 0% no-repeat padding-box;
    border: 6px dashed #9B64E6;
    border-radius: 10px;
    cursor: pointer;

    > div {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  #c-proposal-tags {
    ul {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      li {
        margin-right: 0.7rem;
        margin-bottom: 0.7rem;
      }
    }
  }

  #c-submit-status {
    padding-left: 20px;
    font-size: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    ul {
      list-style: none;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        cursor: pointer;

        * {
          cursor: pointer;
        }
        
        > svg {
          margin-right: 1rem;
        }
      }
    }
  }

  #c-submit-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #c-button-wrap {
    margin-top: 3rem;
    margin-bottom: 100px;
  }

  #files-wrap {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    
    > label {
      margin-right: 10px;
    }

    ul {
      list-style: none;

      li {
        display: flex;
        align-items: center;

        p {
          width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 10px;
        }

        svg {
          cursor: pointer;
        }
      }
    }
  }

  #membership-checkbox-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    cursor: pointer;

    * {
      cursor: pointer;
    }

    > svg {
      margin-right: 1rem;
    }

    label {
      margin-top: 3px;
    }
  }

  #c-checkbox-wrap {
    cursor: pointer;
    display: flex;
    align-items: flex-start;

    * {
      cursor: pointer;
    }

    svg {
      margin-right: 1rem;
    }

    p {
      flex: 1;
    }
  }

  #c-additional-check-wrap {
    .c-simple-checkbox-item-group {
      display: block;
      .c-simple-checkbox-item {
        align-items: flex-start !important;
        margin-bottom: 2rem;

        label {
          display: block;
          margin: 0 !important;
          flex: 1;
        }
      }
    }
  }

  #c-sponsor-area {
    display: block;
  }

  @media all and (max-width: 767px) {
    .new-proposal-button-wrap {
      .btn {
        display: block;
        margin-right: 0;
        width: 100%;
      }
    }

    .c-simple-checkbox-item-group {
      display: block;
      .c-simple-checkbox-item {
        margin-bottom: 10px;
      }
    }
  }
}
.c-select {
  select {
    font-weight: 400;
  }
}
.save-successful {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 150%);
}

@media all and (max-width: 767px) {
  .pc-submit-status {
    display: none !important;
  }
  .mobile-submit-status {
    display: block;
  }
  #c-button-wrap {
    flex-direction: column;
    gap: 10px;
  }
}


@media all and (min-width: 768px) {
  .proposal-final-form {
    height: 100%;
    overflow: scroll;
  }
  .main-box {
    width: calc(100% - 300px) !important;
  }
  .pc-submit-status {
    display: block;
    width: 300px;
  }
  .mobile-submit-status {
    display: none !important;
  }
}