.active-rfp-surveys-table {
  ul {
    list-style: none;
  }
  .infinite-body {
    padding-left: 80px;
    padding-right: 30px;
  }
  #infinite-no-result {
    width: 100%;
    height: 70px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .c-col-1 {
    flex: 0 0 10%;
    width: 10%;
  }
  .c-col-2 {
    flex: 0 0 15%;
    width: 15%;
  }
  .c-col-3 {
    flex: 0 0 30%;
    width: 30%;
  }
  .c-col-4 {
    flex: 0 0 10%;
    width: 10%;
  }
  .c-col-5 {
    flex: 0 0 20%;
    width: 20%;
  } 
  .c-col-6 {
    flex: 0 0 15%;
    width: 15%;
  }
}