.app.theme-light {
  .input-base-custom {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: black;
  }
  
  .dynamic-color {
    color: black !important;
  }
  .app-page-wrap {
    background-color: #efefef !important;
    color: black !important;
  }
  .app-sidebar-wrap {
    background-color: #f9f9f9 !important;
    #app-sidebar-tabs {
      > ul {
        > li {
          &.active {
            > a {
              color: white !important;
            }
          }
          ul {
            li {
              &.active {
                svg {
                  color: white !important;
                }
                > a {
                  color: white !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .app-simple-section {
    background: #f9f9f9 !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;

    .app-simple-section__title {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    }
  }
  .app-infinite-box {
    background: #f9f9f9 !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;

    .infinite-header {
      .infinite-headerInner {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
      }
    }

    .app-infinite-search-wrap {
      input {
        background: transparent !important;
        box-shadow: none !important;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
        color: black !important;
        padding: 5px !important;
        border-radius: 7px !important;
        font-size: 14px !important;
      }
    }

    .infinite-body {
      ul {
        li {
          &:hover {
            background-color: #efefef !important;
          }
  
          .infinite-row {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
          }
        }
      }
    }
  }

  #app-settings-page,
  #app-global-settings-page,
  #app-new-proposal-page,
  #app-new-simple-proposal-page,
  #app-new-admin-grant-proposal-page,
  #app-single-proposal-detail-section,
  #app-start-survey-page,
  #app-new-advance-payment-request-page,
  #app-edit-proposal-page {
    .app-page-header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    }

    .c-form-row {
      input, select {
        background: white !important;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
        color: black !important;
      }
      textarea {
        background: white !important;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
        color: black !important;
      }
    }
    .c-form-row {
      .input-base-custom {
        input.MuiInputBase-input {
          border: 0 !important;
        }
      }
    }

    #c-dropzone {
      background: white 0% 0% no-repeat padding-box !important;
    }
  }

  #app-comments-section {
    #app-comments-title {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    }
  
    #app-comments-body {
      form {
        textarea {
          background: white;
          border: 1px solid rgba(0, 0, 0, 0.1) !important;
          color: black;
        }
      }
    }
  }

  #app-membership-box,
  #app-newgrant-box,
  #app-dos-alert-box,
  #app-grant-alert-box,
  #app-kyc-box {
    background: #f9f9f9 !important;
  }

  #app-proposal-change-form-section {
    form {
      .app-readonly-box {
        background: white !important;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
      }
  
      #app-single-proposal-formTitle {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
      }
  
      .c-form-row {
        select,
        input,
        textarea {
          background: white !important;
          border: 1px solid rgba(0, 0, 0, 0.1) !important;
          color: black !important;
        }
      }
    }
  }

  #app-proposal-changes-list-section {
    .app-proposal-changes-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
      &:hover {
        background: #efefef !important;
      }
    }
  }

  #app-single-change-detail-section {
    #app-single-change-title {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    }
  
    #app-single-change-body {
      p {
        background: white !important;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
      }
    }
  }

  #app-single-proposal-detail-section {
    .proposal-toggle-btn {
      color: black !important;
    }
  }

  #dashboard-emailer-page {
    .d-emailer-item-section {
      .d-emailer-item {
        p, textarea {
          background: white 0% 0% no-repeat padding-box !important;
          border: 1px solid rgba(0, 0, 0, 0.1) !important;
          color: black !important;
        }
      }
    }
  }

  #app-single-proposal-vote-section {
    #app-spd-informal-process-wrap,
    #app-spd-formal-process-wrap {
      form {
        background: white !important;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
        .spacer {
          background: rgba(0, 0, 0, 0.1) !important;
        }
      }
    }
  }

  .c-form-row-deadline {
    .dob-picker-wrap {
      background: white !important;
      color: black !important;
      border: 1px solid rgba(0, 0, 0, 0.1) !important;

      .react-date-picker__inputGroup {
        input, span {
          color: black !important;
        }
      }
    }
  }
}