#app-users-section {
  height: 100%;
  .tool-box {
    gap: 20px;
  }
  .btn-download {
    width: auto;
    height: 30px;
  }
  .react-date-picker__wrapper {
    border: 1px solid #3F196E !important;
    padding-bottom: 8px;
    height: 30px;
    border-radius: 7px;
    input {
      border: 0;
    }
  }

  .infinite-header {
    margin-right: 8px;
  }
  .infinite-contentInner {
    min-width: 1550px;
  }
  .c-col-1 {
    flex: 0 0 100px;
    width: 100px;
  }
  .c-col-2 {
    flex: 0 0 calc(100% - 1050px);
    width: calc(100% - 1050px);
  }
  .c-col-3 {
    flex: 0 0 150px;
    width: 150px;
  }
  .c-col-4 {
    flex: 0 0 150px;
    width: 150px;
  }
  .c-col-5 {
    flex: 0 0 150px;
    width: 150px;
  }
  .c-col-6 {
    flex: 0 0 150px;
    width: 150px;
  }
  .c-col-7 {
    flex: 0 0 100px;
    width: 100px;
  }
  .c-col-8 {
    flex: 0 0 150px;
    width: 150px;
  }
  .c-col-9 {
    flex: 0 0 150px;
    width: 150px;
  }
  .c-col-10 {
    flex: 0 0 100px;
    width: 100px;
  }
  .c-col-11 {
    flex: 0 0 150px;
    width: 150px;
  }

  .infinite-body {
    overflow-y: scroll;
    #infinite-no-result {
      width: 100%;
      height: 250px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        cursor: pointer;
        padding: 0 30px 0 80px;
        
        * {
          cursor: pointer;
        }

        .infinite-row {
          display: flex;
          padding-top: 10px;
          padding-bottom: 10px;

          .c-col-1 {
            padding-right: 20px;
            label {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 1199px) {
    .tool-1, .tool-2 {
      width: 100%
    }
  }
  @media all and (min-width: 1200px) and (max-width: 1536px) {
    .tool-1, .tool-2 {
      width: 50%;
    }
  }
  @media all and (min-width: 1537px) {
    .tool-2 {
      width: 50%;
    }
    .tool-1 {
      width: 50%;
      padding-left: 100px;
    }
  }
}