.member-grant {
  height: 100%;
  .infinite-content {
    height: 100%;
    min-height: auto !important;
  }
  .c-col-child-1 {
    flex: 0 0 10%;
    width: 10%;
  }
  .c-col-child-2 {
    flex: 0 0 75%;
    width: 75%;
  }
  .c-col-child-3 {
    flex: 0 0 15%;
    width: 15%;
  }
  .c-col-1 {
    flex: 0 0 5%;
    width: 5%;
  }
  .c-col-2 {
    flex: 0 0 5%;
    width: 5%;
  }
  .c-col-3 {
    flex: 0 0 25%;
    width: 25%;
  }
  .c-col-4 {
    flex: 0 0 15%;
    width: 15%;
  }
  .c-col-5 {
    flex: 0 0 15%;
    width: 15%;
  } 
  .c-col-6 {
    flex: 0 0 10%;
    width: 10%;
  }
  .c-col-7 {
    flex: 0 0 10%;
    width: 10%;
  }
  .c-col-8 {
    flex: 0 0 15%;
    width: 15%;
  }

  .infinite-contentInner {
    min-width: 1000px;
  }

  .infinite-body {
    padding-bottom: 0 !important;
    .global-relative-canvas {
      height: 200px !important;
    }

    #infinite-no-result {
      width: 100%;
      height: 200px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        cursor: pointer;
        padding: 0 30px 0 80px;
        
        * {
          cursor: pointer;
        }

        .infinite-row {
          display: flex;
          padding-top: 10px;
          padding-bottom: 10px;

          .c-col-1 {
            padding-right: 20px;
            label {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 580px;
            }
          }
        }
      }
    }
  }
}