#app-reputation-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  flex: 1;

  > h3 {
    display: flex;
    align-items: center;

    > svg {
      margin-left: 1rem;
      margin-right: 5px;
    }

    > span {
      line-height: 1;
      margin-top: 5px;
    }
  }

  > label {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  #app-reputation-section {
    height: 100%;
    .infinite-content {
      height: 100%;
      min-height: 500px;
    }

    .c-col-1 {
      flex: 0 0 10%;
      width: 10%;
    }
    .c-col-2 {
      flex: 0 0 15%;
      width: 15%;
    }
    .c-col-3 {
      flex: 0 0 15%;
      width: 15%;
    }
    .c-col-4 {
      flex: 0 0 15%;
      width: 15%;
    }
    .c-col-5 {
      flex: 0 0 15%;
      width: 15%;
    } 
    .c-col-6 {
      flex: 0 0 15%;
      width: 15%;
    } 
    .c-col-7 {
      flex: 0 0 15%;
      width: 15%;
    } 
  
    .infinite-contentInner {
      min-width: 1200px;
    }
  
    .infinite-body {
      .global-relative-canvas {
        height: 200px !important;
      }
  
      #infinite-no-result {
        width: 100%;
        height: 200px !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
  
        li {
          cursor: pointer;
          padding: 0 30px 0 80px;
          
          * {
            cursor: pointer;
          }
  
          .infinite-row {
            display: flex;
            padding-top: 10px;
            padding-bottom: 10px;
  
            .c-col-2 {
              padding-right: 20px;
              label {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
}