.survey-votes-table {
  max-height: 300px;
  a {
    cursor: pointer;
  }
  .infinite-contentInner {
    min-width: 1000px;
    overflow-x: scroll;
  }
  ul {
    list-style: none;
  }
  .infinite-body {
    padding-left: 80px;
    padding-right: 30px;
  }
  #infinite-no-result {
    height: 200px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // 50
  .c-col-1 {
    flex: 0 0 10%;
    width: 10%;
  }
  .c-col-2 {
    flex: 0 0 10%;
    width: 10%;
  }
  .c-col-3 {
    flex: 0 0 25%;
    width: 25%;
  }
  .c-col-custom {
    display: flex;;
    justify-content: center;
  }
}