#dashboard-main-page {
  flex: 1;
  background: #1F063E;
  border: 1px solid #270A4B;
  padding: 30px;
  display: flex;
  flex-direction: column;

  > label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .table-wrapper {
    flex: 1;
    overflow-y: auto;

    .user-status {
      text-decoration: underline;
      cursor: pointer;
      &.pending {
        color: #9B64E6 !important;
      }
      &.approved {
        color: #33C333 !important;
      }
      &.rejected {
        color: #EA5454 !important;
      }
    }
  }
}