#milestone-rejection-modal {
  width: 700px;
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 50px;
  margin: 160px auto;
  textarea {
    display: block;
    width: 100%;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 5px 10px;
    border-radius: 4px;
  }
}