@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-ExtraLightItalic.eot');
  src: url('/fonts/metropolis/Metropolis-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-ExtraLightItalic.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-ExtraLightItalic.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-RegularItalic.eot');
  src: url('/fonts/metropolis/Metropolis-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-RegularItalic.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-RegularItalic.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-SemiBoldItalic.eot');
  src: url('/fonts/metropolis/Metropolis-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-SemiBoldItalic.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-SemiBoldItalic.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-BlackItalic.eot');
  src: url('/fonts/metropolis/Metropolis-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-BlackItalic.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-BlackItalic.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-ThinItalic.eot');
  src: url('/fonts/metropolis/Metropolis-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-ThinItalic.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-ThinItalic.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-SemiBold.eot');
  src: url('/fonts/metropolis/Metropolis-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-SemiBold.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-SemiBold.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-MediumItalic.eot');
  src: url('/fonts/metropolis/Metropolis-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-MediumItalic.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-MediumItalic.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-Medium.eot');
  src: url('/fonts/metropolis/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-Medium.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-Medium.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-LightItalic.eot');
  src: url('/fonts/metropolis/Metropolis-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-LightItalic.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-LightItalic.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-Light.eot');
  src: url('/fonts/metropolis/Metropolis-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-Light.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-Light.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-Black.eot');
  src: url('/fonts/metropolis/Metropolis-Black.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-Black.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-Black.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-Thin.eot');
  src: url('/fonts/metropolis/Metropolis-Thin.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-Thin.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-Thin.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-ExtraLight.eot');
  src: url('/fonts/metropolis/Metropolis-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-ExtraLight.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-ExtraLight.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-Bold.eot');
  src: url('/fonts/metropolis/Metropolis-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-Bold.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-Bold.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-Regular.eot');
  src: url('/fonts/metropolis/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-Regular.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-Regular.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-BoldItalic.eot');
  src: url('/fonts/metropolis/Metropolis-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/metropolis/Metropolis-BoldItalic.woff2') format('woff2'),
       url('/fonts/metropolis/Metropolis-BoldItalic.woff') format('woff'),
       url('/fonts/metropolis/Metropolis-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
