@import "global/color";
@import "global/button";
@import "global/typo";
@import "global/infinite";

.custom-container {
  width: 1448px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.text-underline {
  text-decoration: underline !important;
}
.position-relative {
  position: relative !important;
}
.img-block {
  display: block;
  width: 100%;
}
.img-fluid {
  max-width: 100%;
}

.custom-modals {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9997;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 15px;

  .custom-modal-close {
    position: absolute;
    top: 25px;
    right: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;

    * {
      cursor: pointer;
    }

    label {
      text-decoration: underline;
      font-size: 18px;
      font-weight: 500;
      margin-left: 10px;
      line-height: 1;
    }
  }
}

.dob-picker-wrap {
  display: flex;
  align-items: center;
  > label {
    margin-right: 10px;
  }
  .dob-picker {
    flex: 1;
  }
  .react-date-picker__wrapper {
    border: none !important;
  }
  .react-date-picker__button {
    display: none !important;
  }

  .react-date-picker__inputGroup {
    * {
      color: #ffffff !important;
    }
  }
}

::-webkit-scrollbar-corner {
  background: transparent !important;
}
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-track {
  width: 8px !important;
  border-radius: 10px !important;
  &:hover {
    background: #381760 !important;
  }
}
::-webkit-scrollbar-thumb {
  width: 8px !important;
  border-radius: 10px !important;
  background: #7A48B9 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 1px #00000072;
}
.text-underline {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
.text-elipse {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-pre-wrap {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
.break-word {
  overflow-wrap: break-word;
}