html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: none !important;
  &:focus, &:active {
    outline: none !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}
h2 {
  font-size: 2.375rem;
  font-weight: 500;
}
h5 {
  font-size: 1.3125rem;
}

p, label, span, ul, ol, li {
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

a {
  color: white;
  text-decoration: none !important;

  &:hover {
    color: white;
  }

  &.link {
    color: rgb(113, 55, 206);
    text-decoration: underline !important;
    &:hover {
      color: rgb(113, 55, 206);
    }
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Metropolis', Arial, Helvetica, sans-serif;
}

input, select {
  font-family: 'Metropolis', Arial, Helvetica, sans-serif;
}
