#dos-payment-modal {
  width: 762px;
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  position: relative;
  padding: 90px 100px;
  margin: 160px auto;

  #card-element {
    border-radius: 4px 4px 0 0;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    max-height: 44px;
    width: 100%;
    background: white;
    box-sizing: border-box;
  }

  #dos-payment-modal__buttons {
    margin-top: 3rem;

    .btn {
      display: block;
      margin: 1rem auto 0 auto;
    }
  }

  @media all and (max-width: 767px) {
    margin: 100px auto;
    padding: 30px 15px;

    h2 {
      margin-top: 50px;
    }
  }
}