#app-user-proposals-section {
  .handler-box {
    max-height: 500px;
    overflow: scroll;
  }
  .c-col-1 {
    flex: 0 0 10%;
    width: 10%;
  }
  .c-col-2 {
    flex: 0 0 26%;
    width: 26%;
  }
  .c-col-3 {
    flex: 0 0 14%;
    width: 14%;
  }
  .c-col-4 {
    flex: 0 0 12%;
    width: 12%;
  }
  .c-col-5 {
    flex: 0 0 12%;
    width: 12%;
  } 
  .c-col-6 {
    flex: 0 0 12%;
    width: 12%;
  }
  .c-col-7 {
    flex: 0 0 14%;
    width: 14%;
  }

  .infinite-contentInner {
    min-width: 1100px;
  }

  .infinite-body {
    .global-relative-canvas {
      height: 80px !important;
    }

    #infinite-no-result {
      width: 100%;
      height: 80px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        cursor: pointer;
        
        * {
          cursor: pointer;
        }

        .infinite-row {
          display: flex;
          padding-top: 10px;
          padding-bottom: 10px;

          .c-col-1 {
            padding-right: 20px;
            label {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 580px;
            }
            p {
              max-width: 580px;
            }
          }
        }
      }
    }
  }
}