#accounting-page {
  padding: 30px !important;
  .box {
    margin-top: 30px;
    width: 100%;
    padding-left: 40px;
  }
  .react-date-picker__wrapper {
    border: 1px solid #3F196E !important;
    padding-bottom: 8px;
    height: 55px;
    border-radius: 7px;
    input {
      border: 0;
    }
  }
  .btn-download {
    padding: 5px 15px;
    width: auto;
  }

  .autocomplete-custom {
    width: 200px !important;
    input {
      border: 0 !important;
    }
    .MuiIconButton-root, .MuiFormLabel-root {
      color: white;
    }
    .MuiInputBase-root {
      border: 1px solid #3F196E !important;
    }
  }
}